<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<false/>
	<key>BBLMLanguageCode</key>
	<string>POSH</string>
	<key>BBLMLanguageDisplayName</key>
	<string>PowerShell</string>
	<key>BBLMScansFunctions</key>
	<true/>
	<key>BBLMSupportsTextCompletion</key>
	<true/>
	<key>BBLMPreferredFilenameExtension</key>
	<string>ps1</string>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.ps1</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.psm1</string>
		</dict>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.psd1</string>
		</dict>
	</array>
	<key>Language Features</key>
	<dict>
		<key>Close Block Comments</key>
		<string>#&gt;</string>
		<key>Close Parameter Lists</key>
		<string>)</string>
		<key>Close Statement Blocks</key>
		<string>}</string>
		<key>Close Strings 1</key>
		<string>"</string>
		<key>Close Strings 2</key>
		<string>'</string>
		<key>End-of-line Ends Strings 1</key>
		<false/>
		<key>End-of-line Ends Strings 2</key>
		<false/>
		<key>Escape Char in Strings 1</key>
		<string>`</string>
		<key>Escape Char in Strings 2</key>
		<string></string>
		<key>Identifier and Keyword Characters</key>
		<string>&amp;%!?$-0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ_abcdefghijklmnopqrstuvwxyz</string>
		<key>Open Block Comments</key>
		<string>&lt;#</string>
		<key>Open Line Comments</key>
		<string>#</string>
		<key>Open Parameter Lists</key>
		<string>(</string>
		<key>Open Statement Blocks</key>
		<string>{</string>
		<key>Open Strings 1</key>
		<string>"</string>
		<key>Open Strings 2</key>
		<string>'</string>
		<key>Prefix for Functions</key>
		<string>function</string>
		<key>Prefix for Procedures</key>
		<string></string>
		<key>Terminator for Prototypes 1</key>
		<string></string>
		<key>Terminator for Prototypes 2</key>
		<string></string>
	</dict>
	<key>BBLMKeywordList</key>
	<array>
		<string>begin</string>
		<string>break</string>
		<string>catch</string>
		<string>case</string>
		<string>continue</string>
		<string>default</string>
		<string>do</string>
		<string>else</string>
		<string>elseif</string>
		<string>end</string>
		<string>exit</string>
		<string>filter</string>
		<string>finally</string>
		<string>for</string>
		<string>foreach</string>
		<string>function</string>
		<string>if</string>
		<string>in</string>
		<string>param</string>
		<string>process</string>
		<string>prompt</string>
		<string>return</string>
		<string>switch</string>
		<string>then</string>
		<string>throw</string>
		<string>trap</string>
		<string>try</string>
		<string>until</string>
		<string>while</string>
		<string>Add-Computer</string>
		<string>Add-Content</string>
		<string>Add-History</string>
		<string>Add-Member</string>
		<string>Add-PSSnapin</string>
		<string>Add-Type</string>
		<string>Checkpoint-Computer</string>
		<string>Clear-Content</string>
		<string>Clear-EventLog</string>
		<string>Clear-History</string>
		<string>Clear-Item</string>
		<string>Clear-ItemProperty</string>
		<string>Clear-Variable</string>
		<string>Compare-Object</string>
		<string>Complete-Transaction</string>
		<string>Connect-WSMan</string>
		<string>Convert-Path</string>
		<string>ConvertFrom-CSV</string>
		<string>ConvertFrom-SecureString</string>
		<string>ConvertFrom-StringData</string>
		<string>ConvertTo-CSV</string>
		<string>ConvertTo-Html</string>
		<string>ConvertTo-SecureString</string>
		<string>ConvertTo-XML</string>
		<string>Copy-Item</string>
		<string>Copy-ItemProperty</string>
		<string>Debug-Process</string>
		<string>Disable-ComputerRestore</string>
		<string>Disable-PSBreakpoint</string>
		<string>Disable-PSSessionConfiguration</string>
		<string>Disable-WSManCredSSP</string>
		<string>Disconnect-WSMan</string>
		<string>Enable-ComputerRestore</string>
		<string>Enable-PSBreakpoint</string>
		<string>Enable-PSRemoting</string>
		<string>Enable-PSSessionConfiguration</string>
		<string>Enable-WSManCredSSP</string>
		<string>Enter-PSSession</string>
		<string>Exit-PSSession</string>
		<string>Export-Alias</string>
		<string>Export-CSV</string>
		<string>Export-Clixml</string>
		<string>Export-Console</string>
		<string>Export-Counter</string>
		<string>Export-FormatData</string>
		<string>Export-ModuleMember</string>
		<string>Export-PSSession</string>
		<string>ForEach-Object</string>
		<string>Format-Custom</string>
		<string>Format-List</string>
		<string>Format-Table</string>
		<string>Format-Wide</string>
		<string>Get-Acl</string>
		<string>Get-Alias</string>
		<string>Get-AuthenticodeSignature</string>
		<string>Get-ChildItem</string>
		<string>Get-Command</string>
		<string>Get-ComputerRestorePoint</string>
		<string>Get-Content</string>
		<string>Get-Counter</string>
		<string>Get-Credential</string>
		<string>Get-Culture</string>
		<string>Get-Date</string>
		<string>Get-Event</string>
		<string>Get-EventLog</string>
		<string>Get-EventSubscriber</string>
		<string>Get-ExecutionPolicy</string>
		<string>Get-FormatData</string>
		<string>Get-Help</string>
		<string>Get-History</string>
		<string>Get-Host</string>
		<string>Get-HotFix</string>
		<string>Get-Item</string>
		<string>Get-ItemProperty</string>
		<string>Get-Job</string>
		<string>Get-Location</string>
		<string>Get-Member</string>
		<string>Get-Module</string>
		<string>Get-PSBreakpoint</string>
		<string>Get-PSCallStack</string>
		<string>Get-PSDrive</string>
		<string>Get-PSProvider</string>
		<string>Get-PSSession</string>
		<string>Get-PSSessionConfiguration</string>
		<string>Get-PSSnapin</string>
		<string>Get-PfxCertificate</string>
		<string>Get-Process</string>
		<string>Get-Random</string>
		<string>Get-Service</string>
		<string>Get-TraceSource</string>
		<string>Get-Transaction</string>
		<string>Get-UICulture</string>
		<string>Get-Unique</string>
		<string>Get-Variable</string>
		<string>Get-WSManCredSSP</string>
		<string>Get-WSManInstance</string>
		<string>Get-WinEvent</string>
		<string>Get-WmiObject</string>
		<string>Group-Object</string>
		<string>Import-Alias</string>
		<string>Import-CSV</string>
		<string>Import-Clixml</string>
		<string>Import-Counter</string>
		<string>Import-LocalizedData</string>
		<string>Import-Module</string>
		<string>Import-PSSession</string>
		<string>Invoke-Command</string>
		<string>Invoke-Expression</string>
		<string>Invoke-History</string>
		<string>Invoke-Item</string>
		<string>Invoke-WSManAction</string>
		<string>Invoke-WmiMethod</string>
		<string>Join-Path</string>
		<string>Limit-EventLog</string>
		<string>Measure-Command</string>
		<string>Measure-Object</string>
		<string>Move-Item</string>
		<string>Move-ItemProperty</string>
		<string>New-Alias</string>
		<string>New-Event</string>
		<string>New-EventLog</string>
		<string>New-Item</string>
		<string>New-ItemProperty</string>
		<string>New-Module</string>
		<string>New-ModuleManifest</string>
		<string>New-Object</string>
		<string>New-PSDrive</string>
		<string>New-PSSession</string>
		<string>New-PSSessionOption</string>
		<string>New-Service</string>
		<string>New-TimeSpan</string>
		<string>New-Variable</string>
		<string>New-WSManInstance</string>
		<string>New-WSManSessionOption</string>
		<string>New-WebServiceProxy</string>
		<string>Out-Default</string>
		<string>Out-File</string>
		<string>Out-GridView</string>
		<string>Out-Host</string>
		<string>Out-Null</string>
		<string>Out-Printer</string>
		<string>Out-String</string>
		<string>Pop-Location</string>
		<string>Push-Location</string>
		<string>Read-Host</string>
		<string>Receive-Job</string>
		<string>Register-EngineEvent</string>
		<string>Register-ObjectEvent</string>
		<string>Register-PSSessionConfiguration</string>
		<string>Register-WmiEvent</string>
		<string>Remove-Computer</string>
		<string>Remove-Event</string>
		<string>Remove-EventLog</string>
		<string>Remove-Item</string>
		<string>Remove-ItemProperty</string>
		<string>Remove-Job</string>
		<string>Remove-Module</string>
		<string>Remove-PSBreakpoint</string>
		<string>Remove-PSDrive</string>
		<string>Remove-PSSession</string>
		<string>Remove-PSSnapin</string>
		<string>Remove-Variable</string>
		<string>Remove-WSManInstance</string>
		<string>Remove-WmiObject</string>
		<string>Rename-Item</string>
		<string>Rename-ItemProperty</string>
		<string>Reset-ComputerMachinePassword</string>
		<string>Resolve-Path</string>
		<string>Restart-Computer</string>
		<string>Restart-Service</string>
		<string>Restore-Computer</string>
		<string>Resume-Service</string>
		<string>Select-Object</string>
		<string>Select-String</string>
		<string>Select-XML</string>
		<string>Send-MailMessage</string>
		<string>Set-Acl</string>
		<string>Set-Alias</string>
		<string>Set-AuthenticodeSignature</string>
		<string>Set-Content</string>
		<string>Set-Date</string>
		<string>Set-ExecutionPolicy</string>
		<string>Set-Item</string>
		<string>Set-ItemProperty</string>
		<string>Set-Location</string>
		<string>Set-PSBreakpoint</string>
		<string>Set-PSDebug</string>
		<string>Set-PSSessionConfiguration</string>
		<string>Set-Service</string>
		<string>Set-StrictMode</string>
		<string>Set-TraceSource</string>
		<string>Set-Variable</string>
		<string>Set-WSManInstance</string>
		<string>Set-WSManQuickConfig</string>
		<string>Set-WmiInstance</string>
		<string>Show-EventLog</string>
		<string>Sort-Object</string>
		<string>Split-Path</string>
		<string>Start-Job</string>
		<string>Start-Process</string>
		<string>Start-Service</string>
		<string>Start-Sleep</string>
		<string>Start-Transaction</string>
		<string>Start-Transcript</string>
		<string>Stop-Computer</string>
		<string>Stop-Job</string>
		<string>Stop-Process</string>
		<string>Stop-Service</string>
		<string>Stop-Transcript</string>
		<string>Suspend-Service</string>
		<string>Tee-Object</string>
		<string>Test-ComputerSecureChannel</string>
		<string>Test-Connection</string>
		<string>Test-ModuleManifest</string>
		<string>Test-Path</string>
		<string>Test-WSMan</string>
		<string>Trace-Command</string>
		<string>Undo-Transaction</string>
		<string>Unregister-Event</string>
		<string>Unregister-PSSessionConfiguration</string>
		<string>Update-FormatData</string>
		<string>Update-List</string>
		<string>Update-TypeData</string>
		<string>Use-Transaction</string>
		<string>Wait-Event</string>
		<string>Wait-Job</string>
		<string>Wait-Process</string>
		<string>Where-Object</string>
		<string>Write-Debug</string>
		<string>Write-Error</string>
		<string>Write-EventLog</string>
		<string>Write-Host</string>
		<string>Write-Output</string>
		<string>Write-Progress</string>
		<string>Write-Verbose</string>
		<string>Write-Warning</string>
		<string>ac</string>
		<string>asnp</string>
		<string>cat</string>
		<string>cd</string>
		<string>chdir</string>
		<string>clc</string>
		<string>clear</string>
		<string>clhy</string>
		<string>cli</string>
		<string>clp</string>
		<string>cls</string>
		<string>clv</string>
		<string>compare</string>
		<string>copy</string>
		<string>cp</string>
		<string>cpi</string>
		<string>cpp</string>
		<string>cvpa</string>
		<string>dbp</string>
		<string>del</string>
		<string>diff</string>
		<string>dir</string>
		<string>ebp</string>
		<string>echo</string>
		<string>epal</string>
		<string>epcsv</string>
		<string>epsn</string>
		<string>erase</string>
		<string>etsn</string>
		<string>exsn</string>
		<string>fc</string>
		<string>fl</string>
		<string>foreach</string>
		<string>ft</string>
		<string>fw</string>
		<string>gal</string>
		<string>gbp</string>
		<string>gc</string>
		<string>gci</string>
		<string>gcm</string>
		<string>gcs</string>
		<string>gdr</string>
		<string>ghy</string>
		<string>gi</string>
		<string>gjb</string>
		<string>gl</string>
		<string>gm</string>
		<string>gmo</string>
		<string>gp</string>
		<string>gps</string>
		<string>group</string>
		<string>gsn</string>
		<string>gsnp</string>
		<string>gsv</string>
		<string>gu</string>
		<string>gv</string>
		<string>gwmi</string>
		<string>h</string>
		<string>history</string>
		<string>icm</string>
		<string>iex</string>
		<string>ihy</string>
		<string>ii</string>
		<string>ipal</string>
		<string>ipcsv</string>
		<string>ipmo</string>
		<string>ipsn</string>
		<string>ise</string>
		<string>iwmi</string>
		<string>kill</string>
		<string>lp</string>
		<string>ls</string>
		<string>man</string>
		<string>md</string>
		<string>measure</string>
		<string>mi</string>
		<string>mount</string>
		<string>move</string>
		<string>mp</string>
		<string>mv</string>
		<string>nal</string>
		<string>ndr</string>
		<string>ni</string>
		<string>nmo</string>
		<string>nsn</string>
		<string>nv</string>
		<string>ogv</string>
		<string>oh</string>
		<string>popd</string>
		<string>ps</string>
		<string>pushd</string>
		<string>pwd</string>
		<string>r</string>
		<string>rbp</string>
		<string>rcjb</string>
		<string>rd</string>
		<string>rdr</string>
		<string>ren</string>
		<string>ri</string>
		<string>rjb</string>
		<string>rm</string>
		<string>rmdir</string>
		<string>rmo</string>
		<string>rni</string>
		<string>rnp</string>
		<string>rp</string>
		<string>rsn</string>
		<string>rsnp</string>
		<string>rv</string>
		<string>rvpa</string>
		<string>rwmi</string>
		<string>sajb</string>
		<string>sal</string>
		<string>saps</string>
		<string>sasv</string>
		<string>sbp</string>
		<string>sc</string>
		<string>select</string>
		<string>set</string>
		<string>si</string>
		<string>sl</string>
		<string>sleep</string>
		<string>sort</string>
		<string>sp</string>
		<string>spjb</string>
		<string>spps</string>
		<string>spsv</string>
		<string>start</string>
		<string>sv</string>
		<string>swmi</string>
		<string>tee</string>
		<string>type</string>
		<string>where</string>
		<string>wjb</string>
		<string>write</string>
		<string>-and</string>
		<string>-band</string>
		<string>-bnot</string>
		<string>-bor</string>
		<string>-ccontains</string>
		<string>-ceq</string>
		<string>-cge</string>
		<string>-cgt</string>
		<string>-cle</string>
		<string>-clike</string>
		<string>-clt</string>
		<string>-cmatch</string>
		<string>-cne</string>
		<string>-cnotcontains</string>
		<string>-cnotlike</string>
		<string>-cnotmatch</string>
		<string>-contains</string>
		<string>-creplace</string>
		<string>-eq</string>
		<string>-ge</string>
		<string>-gt</string>
		<string>-icontains</string>
		<string>-ieq</string>
		<string>-ige</string>
		<string>-igt</string>
		<string>-ile</string>
		<string>-ilike</string>
		<string>-ilt</string>
		<string>-imatch</string>
		<string>-ine</string>
		<string>-inotcontains</string>
		<string>-inotlike</string>
		<string>-inotmatch</string>
		<string>-ireplace</string>
		<string>-le</string>
		<string>-like</string>
		<string>-lt</string>
		<string>-match</string>
		<string>-ne</string>
		<string>-not</string>
		<string>-notcontains</string>
		<string>-notlike</string>
		<string>-notmatch</string>
		<string>-or</string>
		<string>-replace</string>
		<string>%</string>
		<string>?</string>
		<string>!</string>
		<string>$_</string>
		<string>$?</string> 
		<string>&amp;</string>
		<string>$true</string>
		<string>$false</string>
	</array>

</dict>
</plist>
